html {
  overflow-y: scroll;
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -30px;
  /* Pad bottom by footer height */
  padding: 0 0 30px;
}

/* Set the fixed height of the footer here */
#footer {
  background-color: #f5f5f5;
}

.glyphicon {
  margin-right: 10px;
}

.pagealert {
  color: green;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 1025px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}

/* end sticky footer */

.navbar {
  margin-bottom: 0px;
  background: none;
  border: none;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  background-color: #fafafa;
}

.form-signup, .form-signin {
  width: 400px;
  margin: 0 auto;
}

.input-block-level {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

select.form-control{
  display: inline;
  width: auto;
  min-width: 150px;
}

#monthName {
  display: inline;
}

#hDateYear{
  float: right;
  margin: 0 !important;
}

.dateButton{
  border: solid black 1px;
  margin: 3px -1px 3px -1px;
  background: white;
  width: 34px;
  color: #333;
}

.selected {
  border: solid black 4px;
  margin: 0px;
}

.weekend {
  background: #dcdcdc;
}

.today {
  background: #8db9df;
}

.underline {
  text-decoration: underline;
}

.edit{
}

.delete{
  color: red;
}

.entryDiv{
  padding: 10px;
  border-radius: 10px;
}

.entryDiv:hover{
  /*    background: #f4f9fc; */
}

.entryDiv:hover .edit, .entryDiv:hover .delete{
  visibility: visible;
  transition: all 1s;
}

.entryDiv img {
  border-radius: 5px;
}

.entryDiv br{
  display: block;
  font-size: 24px;
  line-height: 38px;
}

.homeLoading {
  background: url('ajax-loader.gif') no-repeat;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 50%;
  top: 40%;
}

.entryButtonWrapper{
  padding-bottom: 15px;
}

.changeMonth {
  background: none;
}

#cancelComposeButton {
  background: none;
  border: 1px solid #eee;
}

#toolbarWrapper {
  display: none;
}

.entry-content, .entry-content:focus {
  font-size: 24px;
  outline:  0px solid transparent;
  padding: 2px;
  border: none;
  line-height: 38px;
  margin-bottom: 5px;
  color: #333;
  font-family: helvetica, sans-serif;
}

.entry-content.editing {
  padding: 2px;
  color: #333;
}

#new-entry {
  color: #333;
  text-align: center;
}

.entry-content.editing:focus, #new-entry:focus {
  padding: 2px;
  outline:  0px solid transparent;
  color: #333;
  text-align: left;
}
