body {
    padding-top: 40px;
}

.form-signup {
    width: 400px;
    margin: 0 auto;
}


.selected {
    border: solid black 3px;
}

.today {
    color: red;
}

.weekend {
    background: #ddd;
}

#writingbox, #writingbox:focus {
    position: fixed;
    top: 200px;
    z-index: 0;
    margin: 0px 0px 0px 0px;
    /*width: calc(100% - 265px); */
    width: 1140px;
    height: 70%;
    resize: none;
    box-shadow: none;
    color: #111;
    outline: none;
    font-size: 26px;
    line-height: 1.6em;
    padding: 0;
    border: none;
    overflow-y: scroll;
}