html {
    overflow-y: scroll;
}

body {
    padding-top: 40px;
}

.form-signup {
    width: 400px;
    margin: 0 auto;
}

.dateButton{
    border: solid black 1px;
    margin: 2px -1px 2px -1px;
    background: white;
    width: 34px;
    
}

.selected {
    border: solid black 4px;
    margin: 0px;
}

.weekend {
    background: #a1ffa3;
}

.today {
    background: #ff9898;
}

#writingbox, #writingbox:focus {
    position: fixed;
    top: 200px;
    z-index: 0;
    margin: 0px 0px 0px 0px;
    /*width: calc(100% - 265px); */
    width: 1140px;
    height: 70%;
    resize: none;
    box-shadow: none;
    color: #111;
    outline: none;
    font-size: 26px;
    line-height: 1.6em;
    padding: 0;
    border: none;
    overflow-y: scroll;
}

#composeButton::first-letter {
    text-decoration: underline;
}


.delete{
    float: right;
    visibility: hidden;
    color: red;
}

.entryDiv{
    padding: 10px;
    border-radius: 10px;
}

.entryDiv:hover{
    background: #f1f9ff;
}

.entryDiv:hover .delete{
    visibility: visible;    
    transition: all 1s;
}

.entryDiv img {
    border-radius: 5px;
}